<header class="app-header">

    <h1>
            Propane Ipsum
    </h1>
    <h4>We sell ipsum and ipsum accessories.</h4>
    <image id="header-hero-image" src="/images/headerImage.png">

    </image>
    <% if (user) {%>
    <a href="/auth">
        <button id="logout-button">
            LogOut?
        </button>
    </a>
    <% }%>
    <a href="/">
        <button id="refresh-button" >
            REFRESH
        </button>
    </a>
</header>