<!DOCTYPE html>
<html>
<% include partials/head.ejs%>
<body>
    <% include partials/header.ejs%>

    <div class="view-container">

        <form id="add-quote-form" action="/form/newQuoteForm" method="post" />
            <label for="character">Character</label>
            <input name="character" type="text" placeholder="Character" />

            <label for="season">Season</label>
            <select name="season" id="quote-form-season-select" type="number" >
                <%
                for (let i = 1; i < 14; i++){
                %><option value=<%=i%>>season <%= i %></option><%
                }

                %>
            </select>

            <label for="quote">Quote</label>
            <textarea
                 class="quote-text-area"
                 name="quote"
                 cols="50"
                 rows="11"
                 placeholder="Bobby, Al Yankovic blew his brains out in the late 80s after people stopped buying his records." ></textarea>

            <button type="submit">
                Submit
            </button>

        </form>

    </div>

</body>
</html>
