<!DOCTYPE html>
<html>
<% include partials/head.ejs%>
<body>
<% include partials/header.ejs%>

<div class="view-container">
    <% if(!user) { %>
    <form id="login-form" action="/auth/login" method="post" />
        <label for="username">User Name</label>
        <input name="username" type="text" placeholder="admin@propaneipsum.com" />

        <label for="password">Password</label>
        <input type="password" name="password" />

        <button type="submit">
            Submit
        </button>

    </form
    <% } else { %>
    <h2>You are Logged In as Hank@Strickprop.com.  log out?</h2>
    <form action="/auth/logout" method="post">
        <button class="button">Log Out</button>
    </form>
    <% } %>
</div>

</body>
</html>
