/*font-family: 'Luckiest Guy', cursive;*/
/*font-family: 'Bowlby One SC', cursive;*/
/*font-family: 'Roboto Condensed', sans-serif;*/
* {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
h1 {
  font-family: 'Luckiest Guy', sans-serif;
  font-size: 45px;
  text-shadow: black 4px 4px;
}
h2 {
  font-family: 'Helvetica', sans-serif;
  font-size: 250%;
  margin-top: 1em;
}
h4 {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 20px;
  margin-top: .25em;
}
p, span, a {
  font-family: 'Roboto Condensed', sans-serif;
}

p {
  margin-top: 1em;
}

a {
  color: #00B7FF;
}

label {
  display: block;
  margin: 1em 0;
}

form {
  display: flex;
  flex-direction: column;
  width: 70%;
  height: 80vh;
  justify-content: flex-start;
}

button{
  margin: 3em 0;
  border: #779977 solid 4px;
  border-radius: 15px;
  padding: 1em 0;
  background-color: #FFF;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 30px;
  color: #779977;
}
button:focus{ outline: none}

input, select, textarea {
  font-size: 140%;
}

input {
  padding: 5px;
}

select{
  height: 50px;
}

textarea {
  overflow: auto;
  padding: 7px;
  display: block;
  height: 150px;
  width: 100%;
  border: solid #00B7FF 2px;
  border-radius: 12px;
}

.quote-text-area:focus {
  outline: none !important;
}

.app-header {
  height: 12vh;
  min-height:
  width: 100vw;
  background-color: #335533;
  color: #A9CAB9;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.app-header h4 {
  color: whitesmoke;
  font-size: 180%;
}

.view-container {
  margin: 0;
  padding: 1vw 7vw;
  display: flex;
  flex-direction: column;
}

.container {
  padding: 1vw 7vw;
}

#logout-button, #refresh-button {
  margin-left: 2em;
  padding: .25em;
  width: 170px;
}
#header-hero-image{
height: 100%;
}